@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: red;
    
    width: 100vw;
    height: 100vh;
}

main {
    font-family: Arial, Helvetica, sans-serif;
} 
div#img {
    background-image: url("https://i.pinimg.com/736x/50/af/47/50af478d67c60a9d04c8364ccfd840d7.jpg");
    height: 600px;
    width: 600px;
    background-size: cover;
}